.background-color-easy {
	background-color: #00958c!important;
}

.bg-green {
	background-color: #00a65a!important;
}

.bg-red {
	background-color: #dd4b39!important;
}

.bg-yellow {
	background-color: #f39c12!important;
}

.img-logo-painel {
	width: 102px;
	margin-top: 8px;
}

.top-sidebar {
	background-color: #0f7972;
	height: 65px;
}

.span-dropdown {
	float: right;
}

.span-dropdown > i {
	font-size: 18px;
	margin: 0;
}

.icon-menu {
	font-size: 25px;
	margin-top: 3px;
}

.fs-30 {
	font-size: 30px;
}

header, main, footer {
	padding-left: 300px;
}

main {
	margin-top: 10px;
}

@media (max-width: 992px) {
	header, main, footer {
		padding-left: 0px;
	}
}

.collapsible-body-easy {
	padding: 1px;
}

.nav-wrapper-easy {
	padding-left: 15px;
}

.nav-wrapper-easy > h1 {
	font-size: 25px;
	margin: 18px 0 0 0;
	float: left;
}

/* CARD CUSTOM STYLES */

.card-easy > .card-content {
	margin: 0px;
	padding: 0px;
}

.card-easy > .card-content > .card-title-div {
	padding: 3px 10px;
	background-color: rgba(255, 255, 2555, 0.2);
}

.card-easy > .card-content > .card-description-div {
	padding: 10px 10px;
}

.card-easy > .card-content > .card-title-div > .card-title {
	font-size: 17px;
	margin:0;
}

.card-easy > .card-action {
	border-top: 1px solid rgba(218, 218, 218, 0.2);
	padding: 0px 10px 1px 10px;
}

.card-easy > .card-action > a {
	color: #ffffff!important;
	font-size:12px;	
}

.icon-card-easy {
	font-size: 51px;
}

.p-card-description {
	font-size: 27px;
}

.card-easy > .card-reveal {
	padding: 0;
}

.card-easy > .card-reveal > .card-title-reveal {
	padding: 5px 10px;
	background-color: rgba(255, 255, 2555, 0.2);	
}

.card-easy > .card-reveal > .card-content-reveal {
	padding: 5px 10px;
}

.card-easy > .card-reveal > .card-content-reveal > p {
	margin: 5px 0;
	color: #ffffff;
	font-size: 16px;
}

.card-easy > .card-reveal > .card-title-reveal > .title-reveal {
	font-size: 15px;
	color: #ffffff!important;
}

/* #################### */

/* COLLECTION DASHBOARD STYLE */
.collection-easy > .collection-header > h2 {
	font-size: 20px;
	margin: 0px;
}

.collection-easy > .collection-item {
	margin: 0px;
	padding: 9px 20px!important;
}

.p-idea {
	margin: 0!important;
}
/* ########################## */

/* Adjusts datatables */

.dataTables_length {
	padding-left: 14px;
}

.dataTables_filter {
	padding-right: 14px!important;
}

/* ################## */